*{
margin: 0%;
padding: 0%;
font-family: 'Mulish', sans-serif;
/* color: var(--fifth-color); */
}
:root{
/* Dark-Mode */
/*  --primary-color:#171719;
--secondary-color: #0b0b0c;
--third-color: #151414;
--fourth-color: #1d1e20;
--fifth-color: whitesmoke;
--sixth-color: #080808;   */
/* Light-Mode */
--primary-color:#0d0d28;
--secondary-color: #272745;
--third-color: #e0d7d7;
--fourth-color: #edf2fc;
--fifth-color: black;
--sixth-color: rgb(19, 19, 49);
}
.dark-theme{
--primary-color:#171719;
--secondary-color: #0b0b0c;
--third-color: #151414;
--fourth-color: #1d1e20;
--fifth-color: whitesmoke;
--sixth-color: #080808;
}
body{
background-color: var(--third-color);
}
.font h1{
margin-top: 14px;
font-size: 23px;
color: var(--fifth-color);
}
.fnav{
display: flex;
justify-content: center;
justify-content: space-around;
background-color: var(--primary-color);
color: white;
padding: 11px;
}
.fnav img{
width: 12%;
height: 11%;
}
.nav input{
width: 400px;
height: 32px;
border: none;
}
.nav img{
width: 4%;
height: 74%;
}
.main{
overflow: hidden;
}
.nav{
display: flex;
justify-content: space-around;
}
nav .loca{
display: flex;
}
nav i{
font-size: 27px;
}
nav p{
margin-top: 6px;
font-size: 18px;
}
.loca i{
margin-inline: 12px;
}
.snav{
display: flex;
justify-content: center;
justify-content: space-around;
padding: 8px;
background-color: var(--secondary-color);  /* graycolor for nav */
color: white;
/*  margin-top: 2px; */
}
.snav p{
margin-top: 2px;
}
.snav p:hover{
border-bottom: 2px solid whitesmoke;
border-top: 2px solid whitesmoke;
border-right: 2px solid whitesmoke;
border-left: 2px solid whitesmoke;
}
.main img{
width: 162%;
margin-left: -324px;
overflow: hidden;
}
.container{
display: flex;
justify-content: center;
justify-content: space-around;
position: relative;
top: -460px;
}
.container2{
display: flex;
justify-content: center;
justify-content: space-around;
margin-top: -400px;
}
.card{
width: 380px;
height: 440px;
background-color: var(--fourth-color); /* white*/
text-align: center;
padding: 11px;
}
.card2{
width: 382px;
height: 365px;
background-color: var(--fourth-color); /* white*/
text-align: center;
padding: 11px;
}
.img img{
width: 44%;
padding: 7px;
margin-top: 7px;
}
.deals{
margin-top: 33px;
width: 1130px;
height: 400px;
border-radius: 5px;
background-color: var(--fourth-color);
margin-left: 85px;
}
.deals h1{
margin-left: 22px;
margin-top: 33px;
padding: 22px;
color: var(--fifth-color);
}
.deals .img{
display: flex;
justify-content: center;
justify-content: space-around;
padding: 30px;
}
.deals .img img{
width: 12%;
}
.top{
display: flex;
justify-content: center;
background-color: var(--secondary-color);
color: white;
padding: 10px;
margin-top: 26px;
}
.top img{
width: 20%;
margin-inline: 22px;
}
.footer{
display: flex;
justify-content: center;
justify-content: space-around;
color: white;
background-color: var(--sixth-color);
padding: 44px;
}
#icon{
width: 28px;
cursor: pointer;
}
h4{
margin-top: 4px;
}
#coupon{
height:325px;
width:650px;
z-index:100;
position: absolute;
margin-top: -255%;
margin-left: 26%;
visibility: hidden;
}
#coupon img{
width:100%;
height:100%;
position: relative;
}
#coupon button{
position: absolute;
margin-left: -100%;
height: 25px;
width: 30px;
border: black;
font-size: 22px;
background-color: whitesmoke;
cursor: pointer;
}

#weather-icon img{
	width: 50px;
    height: 45px;
    margin: -12px;
    margin-top: -10px;
/*    margin-right: 45px; */
}
